*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'poppins', sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}
.navbar{
  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 8%;
 
}
.navbar ul{
 padding:10px 30px;
 border-radius: 30px;
 box-shadow:0 0 30px rgba(0, 0, 0, 0.1);
}
.navbar ul li{
  display:inline-block;
  padding:5px 10px;
  margin:0 10px;
  color:black
}

.container{
  width:100%;
  height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.container h1{
  font-size:70px;
 font-weight:600;
}
